Saves/13/clock.bin
Saves/13/d05.dlv
Saves/13/d06.dlv
Saves/13/d07.dlv
Saves/13/d08.dlv
Saves/13/d09.dlv
Saves/13/d10.dlv
Saves/13/d11.dlv
Saves/13/d12.dlv
Saves/13/d13.dlv
Saves/13/d14.dlv
Saves/13/d15.dlv
Saves/13/d16.dlv
Saves/13/d17.dlv
Saves/13/d18.dlv
Saves/13/d19.dlv
Saves/13/d20.dlv
Saves/13/d21.dlv
Saves/13/d22.dlv
Saves/13/d23.dlv
Saves/13/d24.dlv
Saves/13/d25.dlv
Saves/13/d26.dlv
Saves/13/d27.dlv
Saves/13/d28.dlv
Saves/13/d29.dlv
Saves/13/d30.dlv
Saves/13/d31.dlv
Saves/13/d32.dlv
Saves/13/d33.dlv
Saves/13/d34.dlv
Saves/13/d35.dlv
Saves/13/d36.dlv
Saves/13/d37.dlv
Saves/13/d38.dlv
Saves/13/d39.dlv
Saves/13/d40.dlv
Saves/13/d41.dlv
Saves/13/d42.dlv
Saves/13/d43.dlv
Saves/13/d44.dlv
Saves/13/d45.dlv
Saves/13/d46.dlv
Saves/13/d47.dlv
Saves/13/d48.dlv
Saves/13/d49.dlv
Saves/13/d50.dlv
Saves/13/elema.ddm
Saves/13/eleme.dlv
Saves/13/elemf.ddm
Saves/13/elemw.ddm
Saves/13/header.bin
Saves/13/image.pcx
Saves/13/luadata.bin
Saves/13/npcdata.bin
Saves/13/npcgroup.bin
Saves/13/out01.ddm
Saves/13/out02.ddm
Saves/13/out03.ddm
Saves/13/out04.ddm
Saves/13/out05.ddm
Saves/13/out06.ddm
Saves/13/out07.ddm
Saves/13/out08.ddm
Saves/13/out13.ddm
Saves/13/out15.ddm
Saves/13/outd3.ddm
Saves/13/oute3.ddm
Saves/13/overlay.bin
Saves/13/party.bin
Saves/13/pbp.ddm
Saves/13/schedule.bin
Saves/autosave.dod
Saves/MultiplayerAutosave.bin
Saves/MultiplayerGames.bin
Saves/quiksave - Copia.dod
Saves/quiksave.dod
Saves/quiksave.dod Backup/luggage.bin
Saves/quiksave.dod Backup/save001.dodback
Saves/quiksave.dod Backup/skillz.bin
Saves/quiksave.dod Backup/wardrobe.bin
Saves/quiksave.dod2
Saves/quiksave.doda
Saves/quiksave10.dod
Saves/quiksave2 - Copia.dod
Saves/quiksave2.dod
Saves/quiksave2.dod Backup/luggage.bin
Saves/quiksave2.dod Backup/wardrobe.bin
Saves/quiksave3 - Copia.dod
Saves/quiksave3.dod
Saves/quiksave4.dod
Saves/quiksave5.dod
Saves/quiksave6.dod
Saves/quiksave7.dod
Saves/quiksave8.dod
Saves/quiksave9.dod
Saves/save000 - Copia.dod Backup/luggage.bin
Saves/save000 - Copia.dod Backup/skillz.bin
Saves/save000 - Copia.dod Backup/wardrobe.bin
Saves/save000.dod
Saves/save001.dod
Saves/save002.dod
Saves/save002.dod back
Saves/save002.dodw
Saves/save003.dod
Saves/save003.dodback
Saves/save004.dod
Saves/save004.dod back
Saves/save004.dod21
Saves/save005.dod
Saves/save005.dod backup
Saves/save005.dodq
Saves/save006.dod
Saves/save006.dod back
Saves/save007.dod
Saves/save008.dod
Saves/save008.dodss
Saves/save008.rar
Saves/save009.dod
Saves/save010 (1).dod
Saves/save010.dod
Saves/save011.dod
Saves/save012.dod
Saves/save013.dod
Saves/save014.dod
Saves/save015.dod
Saves/save016.dod
Saves/save017.dod
Saves/save018.dod
Saves/save019.dod
Logs/consoleInput.txt
Logs/consoleLog.txt
Logs/consoleLog10.txt
Logs/consoleLog11.txt
Logs/consoleLog12.txt
Logs/consoleLog13.txt
Logs/consoleLog14.txt
Logs/consoleLog15.txt
Logs/consoleLog16.txt
Logs/consoleLog17.txt
Logs/consoleLog18.txt
Logs/consoleLog19.txt
Logs/consoleLog2.txt
Logs/consoleLog3.txt
Logs/consoleLog31061088-977085683.txt
Logs/consoleLog31072569-1209250815.txt
Logs/consoleLog31092060-1909801688.txt
Logs/consoleLog31092060-3721422904.txt
Logs/consoleLog31123119-2086356468.txt
Logs/consoleLog4.txt
Logs/consoleLog5.txt
Logs/consoleLog6.txt
Logs/consoleLog7.txt
Logs/consoleLog8.txt
Logs/consoleLog9.txt
MapObj/mdr02.mtl
MapObj/mdr02.obj
MapObj/mdr02.textures/7hhr1p.bmp
MapObj/mdr02.textures/7solid01.bmp
MapObj/mdr02.textures/7t1butts.bmp
MapObj/mdr02.textures/7tfb11.bmp
MapObj/mdr02.textures/_Portal_.png
MapObj/mdr02.textures/C1D1.bmp
MapObj/mdr02.textures/Hwp1b.bmp
MapObj/mdr02.textures/MDR02.bmp
MapObj/mdr02.textures/T2BS.bmp
MapObj/mdr02.textures/T4bs.bmp
MapObj/mdr02.textures/T5bs.bmp
MapObj/mdr02.textures/T5s1C.bmp
MapObj/mdr02.textures/Trim11_32.bmp
MapObj/mdr02.textures/TRIM3_16a.bmp
MapObj/mdr02.textures/Trim4_16a.bmp
MapObj/mdr02.textures/Twb1.bmp
MapObj/mdr02.textures/Twb1a.bmp
MapObj/mdr02.textures/Wall.bmp
Music/10.mp3
Music/11.mp3
Music/12.mp3
Music/13.mp3
Music/14.mp3
Music/15.mp3
Music/16.mp3
Music/17.mp3
Music/18.mp3
Music/19.mp3
Music/2.mp3
Music/20.mp3
Music/21.mp3
Music/22.mp3
Music/23.mp3
Music/24.mp3
Music/25.mp3
Music/26.mp3
Music/27.mp3
Music/28.mp3
Music/29.mp3
Music/3.mp3
Music/30.mp3
Music/31.mp3
Music/32.mp3
Music/33.mp3
Music/34.mp3
Music/35.mp3
Music/37.mp3
Music/38.mp3
Music/39.mp3
Music/4.mp3
Music/40.mp3
Music/41.mp3
Music/42.mp3
Music/43.mp3
Music/44.mp3
Music/45.mp3
Music/46.mp3
Music/47.mp3
Music/48.mp3
Music/49.mp3
Music/5.mp3
Music/50.mp3
Music/51.mp3
Music/6.mp3
Music/7.mp3
Music/8.mp3
Music/9.mp3
_Python Overlay/adamantite.png
_Python Overlay/assassin_combos.png
_Python Overlay/assassin_combos.xcf
_Python Overlay/background.png
_Python Overlay/Basic Pixel.ttf
_Python Overlay/BOD_R.TTF
_Python Overlay/boss_frame
_Python Overlay/boss_frame.png
_Python Overlay/boss_icon_swapper.png
_Python Overlay/broodlord.png
_Python Overlay/ClassicHeroes2.ttf
_Python Overlay/config/window_bg.png
_Python Overlay/deadly_potion_nobg.webp
_Python Overlay/DefaultFont.TTF
_Python Overlay/explosion.png
_Python Overlay/fill _A.png
_Python Overlay/fill.png
_Python Overlay/fill_50.png
_Python Overlay/fill_75.png
_Python Overlay/fill_B.png
_Python Overlay/fill_boss.png
_Python Overlay/fill_c.png
_Python Overlay/fill_crit.png
_Python Overlay/fill_dot_tick.png
_Python Overlay/fill_dot_total.png
_Python Overlay/fill_hit.png
_Python Overlay/fill_mouseover.png
_Python Overlay/fill_mouseover_old.png
_Python Overlay/fixator.png
_Python Overlay/GothicByte.ttf
_Python Overlay/hkm2ers.bmp
_Python Overlay/ic_thief.bmp
_Python Overlay/kill.png
_Python Overlay/leech.png
_Python Overlay/left_cap.png
_Python Overlay/omnipotent.png
_Python Overlay/overlay.bak.py
_Python Overlay/overlay.py
_Python Overlay/plagueborn.png
_Python Overlay/puller.png
_Python Overlay/reflecting.png
_Python Overlay/regenerating.png
_Python Overlay/right_cap.png
_Python Overlay/Rune_Death_nb.webp
_Python Overlay/skill_149_noBG.webp
_Python Overlay/skill_220_noBG.webp
_Python Overlay/skill_468_noBG.webp
_Python Overlay/Skill_Supervisor_nb.webp
_Python Overlay/summoner.png
_Python Overlay/swapper.png
_Python Overlay/swift.png
_Python Overlay/thorn.png
_Python Overlay/venomous.png
_Python Overlay/visible_monsters.json
_Python Overlay/Warriorskill_29_nobg.webp
Anims/Magicdod.vid
Anims/mightdod.vid
Anims/mm6.magicdod.vid
Anims/mm6.mightdod.vid
Anims/mm7.magicdod.vid
Anims/mm7.mightdod.vid
Anims/mmmerge.magicdod.vid
Anims/mmmerge.mightdod.vid
DataFiles/dchest.bin
DataFiles/ddeclist.bin
DataFiles/dift.bin
DataFiles/dmonlist.bin
DataFiles/dobjlist.bin
DataFiles/doverlay.bin
DataFiles/dpft.bin
DataFiles/dsft.bin
DataFiles/dsounds.bin
DataFiles/dtft.bin
DataFiles/dtile.bin
DataFiles/dtile2.bin
DataFiles/dtile3.bin
Decompile/6D01.EVT
Decompile/6D01.STR
Decompile/6D02.EVT
Decompile/6D02.str
Decompile/6D03.EVT
Decompile/6D03.STR
Decompile/6D04.EVT
Decompile/6D04.STR
Decompile/6D05.EVT
Decompile/6D05.STR
Decompile/6D06.EVT
Decompile/6D06.STR
Decompile/6D07.EVT
Decompile/6D07.STR
Decompile/6D08.evt
Decompile/6D08.STR
Decompile/6D09.EVT
Decompile/6D09.STR
Decompile/6D10.EVT
Decompile/6D10.STR
Decompile/6D11.EVT
Decompile/6D11.str
Decompile/6D12.EVT
Decompile/6D12.STR
Decompile/6D13.EVT
Decompile/6D13.STR
Decompile/6D14.EVT
Decompile/6D14.STR
Decompile/6D15.EVT
Decompile/6D15.STR
Decompile/6D16.EVT
Decompile/6D16.STR
Decompile/6D17.EVT
Decompile/6D17.STR
Decompile/6D18.EVT
Decompile/6D18.STR
Decompile/6D19.EVT
Decompile/6D19.STR
Decompile/6D20.EVT
Decompile/6D20.STR
Decompile/6T1.EVT
Decompile/6T1.STR
Decompile/6T2.EVT
Decompile/6T2.STR
Decompile/6T3.EVT
Decompile/6T3.STR
Decompile/6t4.EVT
Decompile/6T4.STR
Decompile/6T5.EVT
Decompile/6T5.STR
Decompile/6t6.EVT
Decompile/6T6.STR
Decompile/6T7.EVT
Decompile/6T7.STR
Decompile/6T8.EVT
Decompile/6T8.STR
Decompile/7d05.EVT
Decompile/7d05.STR
Decompile/7d06.EVT
Decompile/7d06.STR
Decompile/7d07.EVT
Decompile/7d07.STR
Decompile/7d08.EVT
Decompile/7d08.STR
Decompile/7d09.EVT
Decompile/7d09.STR
Decompile/7d10.EVT
Decompile/7d10.STR
Decompile/7d11.EVT
Decompile/7d11.STR
Decompile/7d12.EVT
Decompile/7d12.STR
Decompile/7d13.EVT
Decompile/7d13.STR
Decompile/7d14.EVT
Decompile/7d14.STR
Decompile/7d15.EVT
Decompile/7d15.STR
Decompile/7d16.EVT
Decompile/7d16.STR
Decompile/7d17.EVT
Decompile/7d17.STR
Decompile/7d18.EVT
Decompile/7d18.STR
Decompile/7d19.EVT
Decompile/7d19.STR
Decompile/7d20.EVT
Decompile/7d20.STR
Decompile/7d21.EVT
Decompile/7d21.STR
Decompile/7d22.EVT
Decompile/7d22.STR
Decompile/7d23.EVT
Decompile/7d23.STR
Decompile/7d24.EVT
Decompile/7d24.STR
Decompile/7d25.EVT
Decompile/7d25.STR
Decompile/7d26.EVT
Decompile/7d26.STR
Decompile/7d27.EVT
Decompile/7d27.STR
Decompile/7D28.EVT
Decompile/7d28.STR
Decompile/7d29.EVT
Decompile/7d29.STR
Decompile/7d30.EVT
Decompile/7d30.STR
Decompile/7d31.EVT
Decompile/7d31.STR
Decompile/7d32.EVT
Decompile/7d32.STR
Decompile/7d33.EVT
Decompile/7d33.STR
Decompile/7d34.EVT
Decompile/7d34.STR
Decompile/7d35.EVT
Decompile/7d35.STR
Decompile/7d36.EVT
Decompile/7d36.STR
Decompile/7d37.EVT
Decompile/7d37.STR
Decompile/7nwc.EVT
Decompile/7nwc.STR
Decompile/7out01.EVT
Decompile/7out01.str
Decompile/7out02.EVT
Decompile/7out02.STR
Decompile/7out03.EVT
Decompile/7out03.STR
Decompile/7out04.EVT
Decompile/7out04.STR
Decompile/7out05.EVT
Decompile/7out05.STR
Decompile/7out06.EVT
Decompile/7out06.STR
Decompile/7out13.EVT
Decompile/7out13.STR
Decompile/7out15.EVT
Decompile/7out15.STR
Decompile/BrAlvar.str
Decompile/BrBase.str
Decompile/Breach.STR
Decompile/CD1.EVT
Decompile/CD1.STR
Decompile/CD2.EVT
Decompile/CD2.STR
Decompile/CD3.EVT
Decompile/CD3.STR
Decompile/d01.EVT
Decompile/d01.STR
Decompile/d02.EVT
Decompile/d02.STR
Decompile/d03.EVT
Decompile/d03.STR
Decompile/d04.EVT
Decompile/d04.STR
Decompile/D05.EVT
Decompile/D05.STR
Decompile/D06.EVT
Decompile/D06.STR
Decompile/D07.EVT
Decompile/D07.STR
Decompile/D08.EVT
Decompile/D08.STR
Decompile/D09.EVT
Decompile/D09.STR
Decompile/d10.EVT
Decompile/D10.STR
Decompile/D11.EVT
Decompile/D11.STR
Decompile/d12.EVT
Decompile/D12.STR
Decompile/D13.EVT
Decompile/D13.STR
Decompile/d14.EVT
Decompile/D14.STR
Decompile/D15.EVT
Decompile/D15.STR
Decompile/d16.EVT
Decompile/D16.STR
Decompile/d17.EVT
Decompile/D17.STR
Decompile/D18.EVT
Decompile/D18.STR
Decompile/d19.EVT
Decompile/D19.STR
Decompile/D20.EVT
Decompile/D20.STR
Decompile/d21.EVT
Decompile/D21.STR
Decompile/D22.EVT
Decompile/D22.STR
Decompile/d23.EVT
Decompile/D23.STR
Decompile/D24.EVT
Decompile/D24.STR
Decompile/D25.EVT
Decompile/D25.STR
Decompile/D26.EVT
Decompile/D26.STR
Decompile/D27.EVT
Decompile/D27.STR
Decompile/D28.EVT
Decompile/D28.STR
Decompile/D29.EVT
Decompile/D29.STR
Decompile/D30.EVT
Decompile/D30.STR
Decompile/D31.EVT
Decompile/D31.STR
Decompile/D32.EVT
Decompile/D32.STR
Decompile/D33.EVT
Decompile/D33.STR
Decompile/d34.EVT
Decompile/D34.STR
Decompile/d35.EVT
Decompile/d35.STR
Decompile/D36.EVT
Decompile/D36.STR
Decompile/d37.EVT
Decompile/D37.STR
Decompile/D38.EVT
Decompile/D38.STR
Decompile/D39.EVT
Decompile/D39.STR
Decompile/d40.EVT
Decompile/D40.STR
Decompile/D41.EVT
Decompile/D41.STR
Decompile/D42.EVT
Decompile/d42.str
Decompile/D43.EVT
Decompile/d43.str
Decompile/D44.EVT
Decompile/d44.str
Decompile/D45.EVT
Decompile/d45.str
Decompile/D46.EVT
Decompile/d46.str
Decompile/D47.EVT
Decompile/D47.STR
Decompile/D48.EVT
Decompile/D48.STR
Decompile/D49.EVT
Decompile/D49.STR
Decompile/d50.EVT
Decompile/d50.STR
Decompile/ElemA.EVT
Decompile/ElemA.STR
Decompile/ElemE.EVT
Decompile/ElemE.STR
Decompile/ElemF.EVT
Decompile/ElemF.STR
Decompile/ElemW.EVT
Decompile/ElemW.STR
Decompile/Global.EVT
Decompile/HIVE.EVT
Decompile/HIVE.STR
Decompile/MDK01.EVT
Decompile/MDK01.STR
Decompile/MDK02.EVT
Decompile/MDK02.STR
Decompile/MDK03.EVT
Decompile/MDK03.STR
Decompile/MDK04.EVT
Decompile/MDK04.STR
Decompile/MDK05.EVT
Decompile/MDK05.STR
Decompile/MDR01.EVT
Decompile/MDR01.STR
Decompile/MDR02.EVT
Decompile/MDR02.STR
Decompile/MDR03.EVT
Decompile/MDR03.STR
Decompile/MDR04.EVT
Decompile/MDR04.STR
Decompile/MDR05.EVT
Decompile/MDR05.STR
Decompile/MDT01.EVT
Decompile/MDT01.STR
Decompile/MDT02.EVT
Decompile/MDT02.STR
Decompile/MDT03.EVT
Decompile/MDT03.STR
Decompile/MDT04.EVT
Decompile/MDT04.STR
Decompile/MDT05.EVT
Decompile/MDT05.STR
Decompile/MDT09.EVT
Decompile/MDT09.STR
Decompile/MDT10.EVT
Decompile/MDT10.STR
Decompile/MDT11.EVT
Decompile/MDT11.STR
Decompile/MDT12.EVT
Decompile/MDT12.STR
Decompile/MDT14.EVT
Decompile/MDT14.STR
Decompile/MDT15.EVT
Decompile/MDT15.STR
Decompile/ORACLE.EVT
Decompile/ORACLE.STR
Decompile/Out01.EVT
Decompile/OUT01.STR
Decompile/Out02.EVT
Decompile/OUT02.STR
Decompile/Out03.EVT
Decompile/OUT03.STR
Decompile/OUT04.EVT
Decompile/OUT04.STR
Decompile/Out05.EVT
Decompile/OUT05.STR
Decompile/OUT06.EVT
Decompile/OUT06.STR
Decompile/Out07.EVT
Decompile/OUT07.STR
Decompile/Out08.EVT
Decompile/OUT08.STR
Decompile/out09.EVT
Decompile/out09.STR
Decompile/out10.EVT
Decompile/out10.STR
Decompile/out11.EVT
Decompile/out11.STR
Decompile/out12.EVT
Decompile/out12.STR
Decompile/Out13.EVT
Decompile/Out13.STR
Decompile/out14.EVT
Decompile/out14.STR
Decompile/Out15.EVT
Decompile/Out15.STR
Decompile/Out16.EVT
Decompile/OUTA1.EVT
Decompile/OUTA1.STR
Decompile/OUTA2.EVT
Decompile/OUTA2.STR
Decompile/OUTA3.EVT
Decompile/OUTA3.STR
Decompile/OUTB1.EVT
Decompile/OUTB1.STR
Decompile/OUTB2.EVT
Decompile/OUTB2.STR
Decompile/OUTB3.EVT
Decompile/OUTB3.STR
Decompile/OUTC1.EVT
Decompile/OUTC1.STR
Decompile/OUTC2.EVT
Decompile/OUTC2.STR
Decompile/OUTC3.EVT
Decompile/OUTC3.STR
Decompile/OUTD1.EVT
Decompile/OUTD1.STR
Decompile/OUTD2.EVT
Decompile/OUTD2.STR
Decompile/OUTD3.EVT
Decompile/OUTD3.STR
Decompile/OUTE1.EVT
Decompile/OUTE1.STR
Decompile/OUTE2.EVT
Decompile/OUTE2.STR
Decompile/OUTE3.EVT
Decompile/OutE3.str
Decompile/PbP.EVT
Decompile/PbP.STR
Decompile/Pyramid.evt
Decompile/PYRAMID.STR
Decompile/SCI-FI.EVT
Decompile/SCI-FI.STR
Decompile/Scripts/6D01.lua
Decompile/Scripts/6D02.lua
Decompile/Scripts/6D03.lua
Decompile/Scripts/6D04.lua
Decompile/Scripts/6D05.lua
Decompile/Scripts/6D06.lua
Decompile/Scripts/6D07.lua
Decompile/Scripts/6D08.lua
Decompile/Scripts/6D09.lua
Decompile/Scripts/6D10.lua
Decompile/Scripts/6D11.lua
Decompile/Scripts/6D12.lua
Decompile/Scripts/6D13.lua
Decompile/Scripts/6D14.lua
Decompile/Scripts/6D15.lua
Decompile/Scripts/6D16.lua
Decompile/Scripts/6D17.lua
Decompile/Scripts/6D18.lua
Decompile/Scripts/6D19.lua
Decompile/Scripts/6D20.lua
Decompile/Scripts/6T1.lua
Decompile/Scripts/6T2.lua
Decompile/Scripts/6T3.lua
Decompile/Scripts/6t4.lua
Decompile/Scripts/6T5.lua
Decompile/Scripts/6t6.lua
Decompile/Scripts/6T7.lua
Decompile/Scripts/6T8.lua
Decompile/Scripts/7d05.lua
Decompile/Scripts/7d06.lua
Decompile/Scripts/7d07.lua
Decompile/Scripts/7d08.lua
Decompile/Scripts/7d09.lua
Decompile/Scripts/7d10.lua
Decompile/Scripts/7d11.lua
Decompile/Scripts/7d12.lua
Decompile/Scripts/7d13.lua
Decompile/Scripts/7d14.lua
Decompile/Scripts/7d15.lua
Decompile/Scripts/7d16.lua
Decompile/Scripts/7d17.lua
Decompile/Scripts/7d18.lua
Decompile/Scripts/7d19.lua
Decompile/Scripts/7d20.lua
Decompile/Scripts/7d21.lua
Decompile/Scripts/7d22.lua
Decompile/Scripts/7d23.lua
Decompile/Scripts/7d24.lua
Decompile/Scripts/7d25.lua
Decompile/Scripts/7d26.lua
Decompile/Scripts/7d27.lua
Decompile/Scripts/7D28.lua
Decompile/Scripts/7d29.lua
Decompile/Scripts/7d30.lua
Decompile/Scripts/7d31.lua
Decompile/Scripts/7d32.lua
Decompile/Scripts/7d33.lua
Decompile/Scripts/7d34.lua
Decompile/Scripts/7d35.lua
Decompile/Scripts/7d36.lua
Decompile/Scripts/7d37.lua
Decompile/Scripts/7nwc.lua
Decompile/Scripts/7out01.lua
Decompile/Scripts/7out02.lua
Decompile/Scripts/7out03.lua
Decompile/Scripts/7out04.lua
Decompile/Scripts/7out05.lua
Decompile/Scripts/7out06.lua
Decompile/Scripts/7out13.lua
Decompile/Scripts/7out15.lua
Decompile/Scripts/CD1.lua
Decompile/Scripts/CD2.lua
Decompile/Scripts/CD3.lua
Decompile/Scripts/d01.lua
Decompile/Scripts/d02.lua
Decompile/Scripts/d03.lua
Decompile/Scripts/d04.lua
Decompile/Scripts/D05.lua
Decompile/Scripts/D06.lua
Decompile/Scripts/D07.lua
Decompile/Scripts/D08.lua
Decompile/Scripts/D09.lua
Decompile/Scripts/d10.lua
Decompile/Scripts/D11.lua
Decompile/Scripts/d12.lua
Decompile/Scripts/D13.lua
Decompile/Scripts/d14.lua
Decompile/Scripts/D15.lua
Decompile/Scripts/d16.lua
Decompile/Scripts/d17.lua
Decompile/Scripts/D18.lua
Decompile/Scripts/d19.lua
Decompile/Scripts/D20.lua
Decompile/Scripts/d21.lua
Decompile/Scripts/D22.lua
Decompile/Scripts/d23.lua
Decompile/Scripts/D24.lua
Decompile/Scripts/D25.lua
Decompile/Scripts/D26.lua
Decompile/Scripts/D27.lua
Decompile/Scripts/D28.lua
Decompile/Scripts/D29.lua
Decompile/Scripts/D30.lua
Decompile/Scripts/D31.lua
Decompile/Scripts/D32.lua
Decompile/Scripts/D33.lua
Decompile/Scripts/d34.lua
Decompile/Scripts/d35.lua
Decompile/Scripts/D36.lua
Decompile/Scripts/d37.lua
Decompile/Scripts/D38.lua
Decompile/Scripts/D39.lua
Decompile/Scripts/d40.lua
Decompile/Scripts/D41.lua
Decompile/Scripts/D42.lua
Decompile/Scripts/D43.lua
Decompile/Scripts/D44.lua
Decompile/Scripts/D45.lua
Decompile/Scripts/D46.lua
Decompile/Scripts/D47.lua
Decompile/Scripts/D48.lua
Decompile/Scripts/D49.lua
Decompile/Scripts/d50.lua
Decompile/Scripts/ElemA.lua
Decompile/Scripts/ElemE.lua
Decompile/Scripts/ElemF.lua
Decompile/Scripts/ElemW.lua
Decompile/Scripts/Global.lua
Decompile/Scripts/HIVE.lua
Decompile/Scripts/MDK01.lua
Decompile/Scripts/MDK02.lua
Decompile/Scripts/MDK03.lua
Decompile/Scripts/MDK04.lua
Decompile/Scripts/MDK05.lua
Decompile/Scripts/MDR01.lua
Decompile/Scripts/MDR02.lua
Decompile/Scripts/MDR03.lua
Decompile/Scripts/MDR04.lua
Decompile/Scripts/MDR05.lua
Decompile/Scripts/MDT01.lua
Decompile/Scripts/MDT02.lua
Decompile/Scripts/MDT03.lua
Decompile/Scripts/MDT04.lua
Decompile/Scripts/MDT05.lua
Decompile/Scripts/MDT09.lua
Decompile/Scripts/MDT10.lua
Decompile/Scripts/MDT11.lua
Decompile/Scripts/MDT12.lua
Decompile/Scripts/MDT14.lua
Decompile/Scripts/MDT15.lua
Decompile/Scripts/ORACLE.lua
Decompile/Scripts/Out01.lua
Decompile/Scripts/Out02.lua
Decompile/Scripts/Out03.lua
Decompile/Scripts/OUT04.lua
Decompile/Scripts/Out05.lua
Decompile/Scripts/OUT06.lua
Decompile/Scripts/Out07.lua
Decompile/Scripts/Out08.lua
Decompile/Scripts/out09.lua
Decompile/Scripts/out10.lua
Decompile/Scripts/out11.lua
Decompile/Scripts/out12.lua
Decompile/Scripts/Out13.lua
Decompile/Scripts/out14.lua
Decompile/Scripts/Out15.lua
Decompile/Scripts/Out16.lua
Decompile/Scripts/OUTA1.lua
Decompile/Scripts/OUTA2.lua
Decompile/Scripts/OUTA3.lua
Decompile/Scripts/OUTB1.lua
Decompile/Scripts/OUTB2.lua
Decompile/Scripts/OUTB3.lua
Decompile/Scripts/OUTC1.lua
Decompile/Scripts/OUTC2.lua
Decompile/Scripts/OUTC3.lua
Decompile/Scripts/OUTD1.lua
Decompile/Scripts/OUTD2.lua
Decompile/Scripts/OUTD3.lua
Decompile/Scripts/OUTE1.lua
Decompile/Scripts/OUTE2.lua
Decompile/Scripts/OUTE3.lua
Decompile/Scripts/PbP.lua
Decompile/Scripts/Pyramid.lua
Decompile/Scripts/SCI-FI.lua
Decompile/Scripts/SEWER.lua
Decompile/Scripts/t01.lua
Decompile/Scripts/t02.lua
Decompile/Scripts/t03.lua
Decompile/Scripts/t04.lua
Decompile/Scripts/txt/6D01.txt
Decompile/Scripts/txt/6D02.txt
Decompile/Scripts/txt/6D03.txt
Decompile/Scripts/txt/6D04.txt
Decompile/Scripts/txt/6D05.txt
Decompile/Scripts/txt/6D06.txt
Decompile/Scripts/txt/6D07.txt
Decompile/Scripts/txt/6D08.txt
Decompile/Scripts/txt/6D09.txt
Decompile/Scripts/txt/6D10.txt
Decompile/Scripts/txt/6D11.txt
Decompile/Scripts/txt/6D12.txt
Decompile/Scripts/txt/6D13.txt
Decompile/Scripts/txt/6D14.txt
Decompile/Scripts/txt/6D15.txt
Decompile/Scripts/txt/6D16.txt
Decompile/Scripts/txt/6D17.txt
Decompile/Scripts/txt/6D18.txt
Decompile/Scripts/txt/6D19.txt
Decompile/Scripts/txt/6D20.txt
Decompile/Scripts/txt/6T1.txt
Decompile/Scripts/txt/6T2.txt
Decompile/Scripts/txt/6T3.txt
Decompile/Scripts/txt/6t4.txt
Decompile/Scripts/txt/6T5.txt
Decompile/Scripts/txt/6t6.txt
Decompile/Scripts/txt/6T7.txt
Decompile/Scripts/txt/6T8.txt
Decompile/Scripts/txt/7d05.txt
Decompile/Scripts/txt/7d06.txt
Decompile/Scripts/txt/7d07.txt
Decompile/Scripts/txt/7d08.txt
Decompile/Scripts/txt/7d09.txt
Decompile/Scripts/txt/7d10.txt
Decompile/Scripts/txt/7d11.txt
Decompile/Scripts/txt/7d12.txt
Decompile/Scripts/txt/7d13.txt
Decompile/Scripts/txt/7d14.txt
Decompile/Scripts/txt/7d15.txt
Decompile/Scripts/txt/7d16.txt
Decompile/Scripts/txt/7d17.txt
Decompile/Scripts/txt/7d18.txt
Decompile/Scripts/txt/7d19.txt
Decompile/Scripts/txt/7d20.txt
Decompile/Scripts/txt/7d21.txt
Decompile/Scripts/txt/7d22.txt
Decompile/Scripts/txt/7d23.txt
Decompile/Scripts/txt/7d24.txt
Decompile/Scripts/txt/7d25.txt
Decompile/Scripts/txt/7d26.txt
Decompile/Scripts/txt/7d27.txt
Decompile/Scripts/txt/7D28.txt
Decompile/Scripts/txt/7d29.txt
Decompile/Scripts/txt/7d30.txt
Decompile/Scripts/txt/7d31.txt
Decompile/Scripts/txt/7d32.txt
Decompile/Scripts/txt/7d33.txt
Decompile/Scripts/txt/7d34.txt
Decompile/Scripts/txt/7d35.txt
Decompile/Scripts/txt/7d36.txt
Decompile/Scripts/txt/7d37.txt
Decompile/Scripts/txt/7nwc.txt
Decompile/Scripts/txt/7out01.txt
Decompile/Scripts/txt/7out02.txt
Decompile/Scripts/txt/7out03.txt
Decompile/Scripts/txt/7out04.txt
Decompile/Scripts/txt/7out05.txt
Decompile/Scripts/txt/7out06.txt
Decompile/Scripts/txt/7out13.txt
Decompile/Scripts/txt/7out15.txt
Decompile/Scripts/txt/CD1.txt
Decompile/Scripts/txt/CD2.txt
Decompile/Scripts/txt/CD3.txt
Decompile/Scripts/txt/d01.txt
Decompile/Scripts/txt/d02.txt
Decompile/Scripts/txt/d03.txt
Decompile/Scripts/txt/d04.txt
Decompile/Scripts/txt/D05.txt
Decompile/Scripts/txt/D06.txt
Decompile/Scripts/txt/D07.txt
Decompile/Scripts/txt/D08.txt
Decompile/Scripts/txt/D09.txt
Decompile/Scripts/txt/d10.txt
Decompile/Scripts/txt/D11.txt
Decompile/Scripts/txt/d12.txt
Decompile/Scripts/txt/D13.txt
Decompile/Scripts/txt/d14.txt
Decompile/Scripts/txt/D15.txt
Decompile/Scripts/txt/d16.txt
Decompile/Scripts/txt/d17.txt
Decompile/Scripts/txt/D18.txt
Decompile/Scripts/txt/d19.txt
Decompile/Scripts/txt/D20.txt
Decompile/Scripts/txt/d21.txt
Decompile/Scripts/txt/D22.txt
Decompile/Scripts/txt/d23.txt
Decompile/Scripts/txt/D24.txt
Decompile/Scripts/txt/D25.txt
Decompile/Scripts/txt/D26.txt
Decompile/Scripts/txt/D27.txt
Decompile/Scripts/txt/D28.txt
Decompile/Scripts/txt/D29.txt
Decompile/Scripts/txt/D30.txt
Decompile/Scripts/txt/D31.txt
Decompile/Scripts/txt/D32.txt
Decompile/Scripts/txt/D33.txt
Decompile/Scripts/txt/d34.txt
Decompile/Scripts/txt/d35.txt
Decompile/Scripts/txt/D36.txt
Decompile/Scripts/txt/d37.txt
Decompile/Scripts/txt/D38.txt
Decompile/Scripts/txt/D39.txt
Decompile/Scripts/txt/d40.txt
Decompile/Scripts/txt/D41.txt
Decompile/Scripts/txt/D42.txt
Decompile/Scripts/txt/D43.txt
Decompile/Scripts/txt/D44.txt
Decompile/Scripts/txt/D45.txt
Decompile/Scripts/txt/D46.txt
Decompile/Scripts/txt/D47.txt
Decompile/Scripts/txt/D48.txt
Decompile/Scripts/txt/D49.txt
Decompile/Scripts/txt/d50.txt
Decompile/Scripts/txt/ElemA.txt
Decompile/Scripts/txt/ElemE.txt
Decompile/Scripts/txt/ElemF.txt
Decompile/Scripts/txt/ElemW.txt
Decompile/Scripts/txt/Global.txt
Decompile/Scripts/txt/HIVE.txt
Decompile/Scripts/txt/MDK01.txt
Decompile/Scripts/txt/MDK02.txt
Decompile/Scripts/txt/MDK03.txt
Decompile/Scripts/txt/MDK04.txt
Decompile/Scripts/txt/MDK05.txt
Decompile/Scripts/txt/MDR01.txt
Decompile/Scripts/txt/MDR02.txt
Decompile/Scripts/txt/MDR03.txt
Decompile/Scripts/txt/MDR04.txt
Decompile/Scripts/txt/MDR05.txt
Decompile/Scripts/txt/MDT01.txt
Decompile/Scripts/txt/MDT02.txt
Decompile/Scripts/txt/MDT03.txt
Decompile/Scripts/txt/MDT04.txt
Decompile/Scripts/txt/MDT05.txt
Decompile/Scripts/txt/MDT09.txt
Decompile/Scripts/txt/MDT10.txt
Decompile/Scripts/txt/MDT11.txt
Decompile/Scripts/txt/MDT12.txt
Decompile/Scripts/txt/MDT14.txt
Decompile/Scripts/txt/MDT15.txt
Decompile/Scripts/txt/ORACLE.txt
Decompile/Scripts/txt/Out01.txt
Decompile/Scripts/txt/Out02.txt
Decompile/Scripts/txt/Out03.txt
Decompile/Scripts/txt/OUT04.txt
Decompile/Scripts/txt/Out05.txt
Decompile/Scripts/txt/OUT06.txt
Decompile/Scripts/txt/Out07.txt
Decompile/Scripts/txt/Out08.txt
Decompile/Scripts/txt/out09.txt
Decompile/Scripts/txt/out10.txt
Decompile/Scripts/txt/out11.txt
Decompile/Scripts/txt/out12.txt
Decompile/Scripts/txt/Out13.txt
Decompile/Scripts/txt/out14.txt
Decompile/Scripts/txt/Out15.txt
Decompile/Scripts/txt/Out16.txt
Decompile/Scripts/txt/OUTA1.txt
Decompile/Scripts/txt/OUTA2.txt
Decompile/Scripts/txt/OUTA3.txt
Decompile/Scripts/txt/OUTB1.txt
Decompile/Scripts/txt/OUTB2.txt
Decompile/Scripts/txt/OUTB3.txt
Decompile/Scripts/txt/OUTC1.txt
Decompile/Scripts/txt/OUTC2.txt
Decompile/Scripts/txt/OUTC3.txt
Decompile/Scripts/txt/OUTD1.txt
Decompile/Scripts/txt/OUTD2.txt
Decompile/Scripts/txt/OUTD3.txt
Decompile/Scripts/txt/OUTE1.txt
Decompile/Scripts/txt/OUTE2.txt
Decompile/Scripts/txt/OUTE3.txt
Decompile/Scripts/txt/PbP.txt
Decompile/Scripts/txt/Pyramid.txt
Decompile/Scripts/txt/SCI-FI.txt
Decompile/Scripts/txt/SEWER.txt
Decompile/Scripts/txt/t01.txt
Decompile/Scripts/txt/t02.txt
Decompile/Scripts/txt/t03.txt
Decompile/Scripts/txt/t04.txt
Decompile/Scripts/txt/ZARENA.txt
Decompile/Scripts/txt/ZDDB01.txt
Decompile/Scripts/txt/ZDDB02.txt
Decompile/Scripts/txt/ZDDB03.txt
Decompile/Scripts/txt/ZDDB04.txt
Decompile/Scripts/txt/ZDDB05.txt
Decompile/Scripts/txt/ZDDB06.txt
Decompile/Scripts/txt/ZDDB07.txt
Decompile/Scripts/txt/ZDDB08.txt
Decompile/Scripts/txt/ZDDB09.txt
Decompile/Scripts/txt/ZDDB10.txt
Decompile/Scripts/txt/ZDTL01.txt
Decompile/Scripts/txt/ZDTL02.txt
Decompile/Scripts/txt/ZDTL1.txt
Decompile/Scripts/txt/ZDTL2.txt
Decompile/Scripts/txt/ZDWJ01.txt
Decompile/Scripts/txt/ZDWJ02.txt
Decompile/Scripts/txt/ZDWJ1.txt
Decompile/Scripts/txt/ZDWJ2.txt
Decompile/Scripts/txt/ZNWC.txt
Decompile/Scripts/ZARENA.lua
Decompile/Scripts/ZDDB01.lua
Decompile/Scripts/ZDDB02.lua
Decompile/Scripts/ZDDB03.lua
Decompile/Scripts/ZDDB04.lua
Decompile/Scripts/ZDDB05.lua
Decompile/Scripts/ZDDB06.lua
Decompile/Scripts/ZDDB07.lua
Decompile/Scripts/ZDDB08.lua
Decompile/Scripts/ZDDB09.lua
Decompile/Scripts/ZDDB10.lua
Decompile/Scripts/ZDTL01.lua
Decompile/Scripts/ZDTL02.lua
Decompile/Scripts/ZDTL1.lua
Decompile/Scripts/ZDTL2.lua
Decompile/Scripts/ZDWJ01.lua
Decompile/Scripts/ZDWJ02.lua
Decompile/Scripts/ZDWJ1.lua
Decompile/Scripts/ZDWJ2.lua
Decompile/Scripts/ZNWC.lua
Decompile/SEWER.EVT
Decompile/SEWER.STR
Decompile/t01.EVT
Decompile/t01.STR
Decompile/t02.EVT
Decompile/t02.STR
Decompile/t03.EVT
Decompile/t03.STR
Decompile/t04.EVT
Decompile/t04.STR
Decompile/ZARENA.EVT
Decompile/ZARENA.STR
Decompile/ZDDB01.EVT
Decompile/ZDDB01.STR
Decompile/ZDDB02.EVT
Decompile/ZDDB02.STR
Decompile/ZDDB03.EVT
Decompile/ZDDB03.STR
Decompile/ZDDB04.EVT
Decompile/ZDDB04.STR
Decompile/ZDDB05.EVT
Decompile/ZDDB05.STR
Decompile/ZDDB06.EVT
Decompile/ZDDB06.STR
Decompile/ZDDB07.EVT
Decompile/ZDDB07.STR
Decompile/ZDDB08.EVT
Decompile/ZDDB08.STR
Decompile/ZDDB09.EVT
Decompile/ZDDB09.STR
Decompile/ZDDB10.EVT
Decompile/ZDDB10.STR
Decompile/ZDTL01.EVT
Decompile/ZDTL01.STR
Decompile/ZDTL02.EVT
Decompile/ZDTL02.STR
Decompile/ZDTL1.EVT
Decompile/ZDTL2.EVT
Decompile/ZDWJ01.EVT
Decompile/ZDWJ01.STR
Decompile/ZDWJ02.EVT
Decompile/ZDWJ02.STR
Decompile/ZDWJ1.EVT
Decompile/ZDWJ1.STR
Decompile/ZDWJ2.EVT
Decompile/ZDWJ2.STR
Decompile/ZNWC.EVT
Decompile/ZNWC.STR
.env
.gitattributes
audiere.dll
audio.dll
Binkw32.dll
dump.bin
ErrorLog.txt
gog.ico
goggame-1207658918.hashdb
goggame-1207658918.ico
goggame-1207658918.info
goggame-1207658918.script
goggame-galaxyFileList.ini
goglog.ini
Launch Might and Magic 8 - Day of the Destroyer.lnk
launcher_debug.log
lobby_server.exe
MANUAL.PDF
MAW & PythonOverlay.bat
MAWSettings.lua
MM8-Rel.exe
mm8.exe
MM8.ICD
mm8.ini
MM8_Win.Pcx
mm8lang.ini
mm8launcher.py
MM8Patch ReadMe.TXT
MM8patch.dll
MM8Setup.Exe
mm8winfree.exe
MMEditor Readme.txt
MMExtension.htm
MMExtensionLog.txt
MMExtensionRu.htm
MMMergeLog.1.txt
MMMergeLog.2.txt
MMMergeLog.txt
MP3DEC.ASI
Mss32.dll
Mssa3d.m3d
Mssds3dh.m3d
Mssds3ds.m3d
Msseax.m3d
Mssfast.m3d
msvcp60.dll
msvcp90.dll
msvcr90.dll
Readme.txt
Reference_card.PDF
Skillz.dll
Smackw32.dll
support.ico
unins000.dat
unins000.exe
unins000.ini
unins000.msg
